*{
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: calculator;
    src: url(./font/digital-7.ttf);
}



h1{
    text-align: center;
    margin: 50px 0;
    font-size: 50px;
}

section{
    width: 20%;
    height: 27em;
    background-color: black;
    text-align: center;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    margin: auto;
}

button:hover{
    transform: scale(1.1);
    transition: 0.5s;
    cursor: pointer;
}



section button{
    padding: 5px;
    background-color: rgb(41, 41, 41);
    color: aliceblue;
    width: 50px;
    height: 50px;
    margin: 8px 3px;
    border-radius: 50px;
    border: none;
}

input{
    margin: 20px 0;
    width: 80%;
    height: 30px;
    font-size: 25px;
    text-align: right;
    border: none;
    outline: none;
    border-radius: 3px;
    background-color: rgb(40, 39, 39);
    color: white;
    padding: 10px;
    font-family: calculator;
}

.lightGrey{
    background-color: lightgrey;
    color: black;
}

.orange{
    background-color: orange;
}

.zero{
    width: 40%;
}


@media screen and (max-width:1024px) {

    section{
        width: 27%;
        height: 27em;
    }
    
}

@media screen and (max-width:876px) {

    section{
        width: 30%;
        height: 27em;
    }

    
}

@media screen and (max-width:788px) {

    section{
        width: 35%;
        height: 27em;
    }

    
}

@media screen and (max-width:676px) {

    section{
        width: 40%;
        height: 27em;
    }

    
}

@media screen and (max-width:592px) {

    section{
        width: 45%;
        height: 27em;
    }

    
}


@media screen and (max-width:532px) {

    section{
        width: 50%;
        height: 27em;
    }

    
}

@media screen and (max-width:486px) {

    section{
        width: 55%;
        height: 27em;
    }

    
}

@media screen and (max-width:432px) {

    section{
        width: 60%;
        height: 27em;
    }

    
}

@media screen and (max-width:396px) {

    section{
        width: 70%;
        height: 27em;
    }

    
}

@media screen and (max-width:338px) {

    section{
        width: 80%;
        height: 27em;
    }

    
}